*{
    padding: 0;
    margin: 0;
}
/* COLORS OF THE BOXES */
#r1,#r2,#r3,#r4,#r5,#r6,#r7,#r8{
    background-color: #f83259;
}
#b1{
   background-color: #63f6f3;
}
#y1{
    background-color:#ffff04;
}

/* GRID SIZING */

#future{
    display:grid;
    grid-template-rows: repeat(10,1fr);
}

#future div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
}

@media(min-width:800px){
    #future{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width:1400px){
    #future{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    #b1{
        grid-area: 1/3/4/3;
    }
    #y1{
        grid-area:2/4/4/6;
    }
}